body{
    background-image: url("https://tamarinassets.s3.amazonaws.com/assets/1448750440541_565a2d6885c984d70c48e842.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    color: beige;
}
h1{
    text-align: center;
}
/* footer{
    text-align: center;
    background-color: black;
} */
